---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';

import Header from '../components/Header/Header';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		
		<main>
			<div class="header-container">
				<Header />
			</div>	
			
			<article>
				<!--  -->
				<div class="prose prose-h5:text-3xl prose-p:text-xl prose-ul:text-xl prose-a:no-underline">
					
					<div class="title">
						<div class="my-5 text-5xl font-semibold">{title}</div>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>

<style>
	main {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		width: 750px;
		max-width: calc(100% - 2em);
		margin: auto;
		color: rgb(var(--gray-dark));
	}
	.title {
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.header-container{
		width: 720px;
		margin: auto;
	}
</style>